/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
   ==========================
   Variables
   ==========================
*/
:root {
  --primary-gradient: hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%);
  --neutral-pale-blue: hsl(243, 100%, 93%);
  --neutral-grayish-blue: hsl(229, 7%, 55%);
  --neutral-dark-blue: hsl(228, 56%, 26%);
  --neutral-very-dark-blue: hsl(229, 57%, 11%);
}
/* 
   ==========================
   Custom Styles
   ==========================
*/
body {
  background-image: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--neutral-pale-blue);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
  width: 375px;
}
/* 
   ==========================
   Grid
   ==========================
*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icons {
  display: inline-block;
}
/* 
   ==========================
   Section Styles
   ==========================
*/
section {
  background-color: var(--neutral-dark-blue);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px auto;
  text-align: left;
  width: 325px;
}

.icons {
  background-color: var(--neutral-very-dark-blue);
  box-sizing: border-box;
  border-radius: 10px;
  height: 48px;
  line-height: 48px;
  margin: 33px 12px 0px 0px;
  padding-top: 5px;
  text-align: center;
  width: 48px;
  vertical-align: middle;
}

.title {
  border-top-right-radius: 100px;
  height: 200px;
  padding: 42px 10px 40px 40px;
}

.storage {
  height: 160px;
  padding: 35px 30px 53px 30px;
  text-align: center;
}

.bar {
  background-color: var(--neutral-very-dark-blue);
  border-radius: 10px;
  height: 20px;
  margin: 13px auto;
  width: 260px;
  display: flex;
  align-items: center;
}

.gradient {
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 10px;
  display: flex;
  height: 14px;
  width: 208px;
  margin-left: 3px;
}
.current {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 36px;
  font-weight: 700;
  height: 74px;
  margin: 15px auto;
  width: 178px;
}

.current p {
  padding: 18px 0px;
}

.current sup {
  color: var(--neutral-grayish-blue);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}

.range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 
   ==========================
   Footer
   ==========================
*/
.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 10px;
  right: 20%;
  margin: 0 auto;
  text-align: center;
}
.attribution a {
  color: white;
}

/* 
   ==========================
   Media Query
   ==========================
*/
@media screen and (min-width: 975px) {
  html {
    background-color: var(--neutral-very-dark-blue);
    background-image: url(/images/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    height: 100%;
  }

  body {
    background-image: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  section {
    width: 100%;
  }

  .title {
    width: 345px;
    margin-right: 25px;
  }

  .storage {
    width: 540px;
    margin-top: 45px;
    position: relative;
  }

  .bar {
    width: 450px;
  }

  .gradient {
    width: 340px;
  }

  .storage p {
    text-align: left;
    margin-left: 18px;
  }

  #max {
    margin-right: 14px;
  }

  .container {
    flex-direction: row;
  }
  .current {
    position: absolute;
    right: 9%;
    bottom: 75%;
    border-bottom-right-radius: 0;
  }
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-top: 25px solid white;
    position: absolute;
    right: 9%;
    bottom: 70%;
  }
}
